:root {
  --light-green-palette: #c8ffd0;
  --dark-green-palette: #536255;
  --green-grey-palette: #9fafa1;
  --light-blue-palette: #e7eeff;
  --blue-palette: #aeb6f0;
}

body {
  padding: 0 !important;
  margin: 0;
  background-color: white;
}

.navbar {
  background-color: var(--light-blue-palette) !important;
}

.carousel-container {
  padding: 0 !important;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80vw;
  border: 10px solid var(--light-blue-palette);
  border-radius: 16px;
}

.carousel-inner {
  padding: 0 !important;
  border-radius: 6px;
}

.schedule,
.activities {
  padding: 0;
}

.footer-boxes {
  min-height: 400px;
  width: 500px;
  margin: 20px;
  background-color: var(--light-blue-palette);
  border-radius: 16px;
}

.made-by {
  text-decoration: none;
}

.about img {
  max-width: 500px;
  height: auto;
  border: 10px solid var(--light-blue-palette);
  border-radius: 16px;
}

.logo-img {
  height: auto;
  width: 100px;
}
